<div id="article_comment_<%= comment.id %>">
	<p><%= comment.text %></p>
	<div class="reply">
		<a href="javascript:void(0)" class="comment_reply_link" data-commentid="<%= comment.id %>">Reply</a>
	</div>
</div>